$background-color: #efefef;

body {
	// Override browser default padding and margin
	margin: 0;
	padding: 0;
	// Set font globally
	// font-family: 'Roboto', sans-serif;
	font-family: 'Courier New', monospace, sans-serif;
	font-weight: 300;
	// Sticky the footer
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	// Backgorund color
	background: $background-color;
}

// Helpers
.center { text-align: center; }
.row {
	display: flex;
	flex-direction: row;
}

// General
h2 {
	margin-top: 0;
	font-weight: normal;
}
h3 {
	font-weight: normal;
}
a {
	&:hover {
		opacity: 0.5;
	}
}

main {
	// make footer sticky
	flex: 1 0 auto;
	// Vertically align content
	display: flex;
	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

.intro {
	margin-bottom: 2rem;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
	h2 {
		font-size: 1.2rem;
    	font-style: italic;
	}
}

.logos {
	display: flex;
    flex-direction: row;

    img {

    	padding: 1rem;
    	
    	&.icon {
			$size: 80px;
			height: $size;
			width: auto;
			&.square { width: $size; }
			&.round { border-radius: 50%; }
		}
    	
    }
}

#footer {
	// make the copyright notics less in your face
	text-align: center;
	padding: 10px;
	opacity: 0.6;
	font-size: 13px;
}