- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html( lang="en" )
	include pug/_header.pug
	body
		main
			div.intro
				h1 Mentor Palokaj
				h2 Coder, writer, investor
				div.links
					a( href='https://www.linkedin.com/in/mentorpalokaj/' ) Linkedin
					span , 
					a( href='https://github.com/actuallymentor' ) Github
					span , 
					a( href='https://www.skillcollector.com/page/monthly-mentor/' ) Monthly Mentor newsletter
		include pug/_footer.pug